<!DOCTYPE html>
<html ng-app="calculatorApp">

  <head>
      <meta charset="utf-8" />
      <title>Calc-U-Later</title>
      <link href="https://fonts.googleapis.com/css?family=Lora" rel="stylesheet">
      <link href="stylesheet.css" rel="stylesheet" />
      <script src="angular.min.js" charset="utf-8"></script>
      <script src="client.js" charset="utf-8"></script>
  </head>

  <body ng-controller="MainController">

      <section id="calculator">

          <div id="calcDisplay">
              <h1 ng-model="calcDisplay">{{calcDisplay}}</h1>
          </div>

          <div id="firstRow">
              <div class="buttonRow" ng-repeat="item in firstRow">
                  <button ng-click="logClick(item)">{{item}}</button>
              </div>
          </div>

          <div id="secondRow">
              <div class="buttonRow" ng-repeat="item in secondRow">
                  <button ng-click="logClick(item)">{{item}}</button>
              </div>
          </div>

          <div id="thirdRow">
              <div class="buttonRow" ng-repeat="item in thirdRow">
                  <button ng-click="logClick(item)">{{item}}</button>
              </div>
          </div>

          <div id="fourthRow">
              <div class="buttonRow" ng-repeat="item in fourthRow">
                  <button ng-click="logClick(item)">{{item}}</button>
              </div>
          </div>

      </section>


      <section id="previousCalculations">
          <p ng-repeat="calculation in calculationLog">{{calculation}}</p>
      </section>

  </body>

</html>
